.contenedor{
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content:space-between;


background: steelblue;
width: 100%;
}


.item{
background: red;
border: 2px solid;
border-color: black;
width: 100px;
height: 100px;
text-align: center;
color:  black;
font-size: xx-large;
margin: 5px;
border-radius: 20px;
padding: 2px;
}


header{
    text-align: center;
}